In [1]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings;warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv("../data/tmdb_5000_movies.csv")
creidts = pd.read_csv("../data/tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [6]:
df = movies.merge(creidts, on='title')
df.head()
df.to_pickle('../models/merged.pkl')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [8]:
features = ['id', 'title', 'genres', 'keywords', 'overview', 'cast', 'crew']
df = df[features]
df.head()

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
df.to_csv('../data/train.csv', index=False)

In [10]:
df.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.duplicated().sum()

0

In [13]:
df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
from ast import literal_eval
def convert(objs):
    res = []
    for obj in literal_eval(objs):
        res.append(obj['name'])
    return res

In [15]:
res = convert(df.iloc[0].genres)
res

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [16]:
df['genres'] = df['genres'].apply(convert)

In [17]:
df.head()

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
df['keywords'] = df['keywords'].apply(convert)

In [19]:
df.head()

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert_cast(objs):
    res = []
    objs = literal_eval(objs)[0:3]
    for obj in objs:
        res.append(obj['name'])
    return res

In [21]:
df['top_3_cast'] = df['cast'].apply(convert_cast)

In [22]:
df.head()

,id,title,genres,keywords,overview,cast,crew,top_3_cast
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]"
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]"
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]"

In [23]:
df.drop('cast', axis=1, inplace=True)

In [24]:
df

,id,title,genres,keywords,overview,crew,top_3_cast
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley]"
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman]"
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton]"
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...",El Mariachi just wants to play his guitar and ...,"[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua..."
4805,72766,Newlyweds,"[Comedy, Romance]",[],A newlywed couple's honeymoon is upended by th...,"[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...","[Edward Burns, Kerry Bishé, Marsha Dietlein]"
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","""Signed, Sealed, Delivered"" introduces a dedic...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","[Eric Mabius, Kristin Booth, Crystal Lowe]"
4807,126186,Shanghai Calling,[],[],When ambitious New York attorney Sam is sent t...,"[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...","[Daniel Henney, Eliza Coupe, Bill Paxton]"
4808,25975,My Date with Drew,[Documentary],"[obsession, camcorder, crush, dream girl]",Ever since the second grade when he first saw ...,"[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...","[Drew Barrymore, Brian Herzlinger, Corey Feldman]"

In [25]:
def fetch_director(objs):
    res = []
    for obj in literal_eval(objs):
        if obj['job'] == 'Director':
            res.append(obj['name'])
            break
    return res

In [26]:
df['crew']= df['crew'].apply(fetch_director)

In [27]:
df.head()

,id,title,genres,keywords,overview,crew,top_3_cast
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley]"
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman]"
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton]"

In [28]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\tonoy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tonoy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
def process_str(value):
    # split into words
    tokens = [w.lower() for w in word_tokenize(value)]
    # remove punctuation from each word
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens]
    words = [word for word in stripped if word.isalpha()]
    stop_words = set(stopwords.words('english'))
    return [w for w in words if not w in stop_words]

In [30]:
df.head(1)

,id,title,genres,keywords,overview,crew,top_3_cast
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"

In [31]:
df['overview'] = df['overview'].apply(process_str)

In [32]:
df.head(1)

,id,title,genres,keywords,overview,crew,top_3_cast
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[century, paraplegic, marine, dispatched, moon...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"

In [33]:
df['genres'] = df['genres'].apply(lambda x : [i.replace(" ", "_").lower() for i in x])

In [34]:
df.head(1)

,id,title,genres,keywords,overview,crew,top_3_cast
0,19995,Avatar,"[action, adventure, fantasy, science_fiction]","[culture clash, future, space war, space colon...","[century, paraplegic, marine, dispatched, moon...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"

In [35]:
df['overview'] = df['overview'].apply(lambda x : [i.replace(" ", "_").lower() for i in x])
df['crew'] = df['crew'].apply(lambda x : [i.replace(" ", "_").lower() for i in x])
df['top_3_cast'] = df['top_3_cast'].apply(lambda x : [i.replace(" ", "_").lower() for i in x])

In [36]:
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['crew'] + df['top_3_cast']
df.head()

,id,title,genres,keywords,overview,crew,top_3_cast,tags
0,19995,Avatar,"[action, adventure, fantasy, science_fiction]","[culture clash, future, space war, space colon...","[century, paraplegic, marine, dispatched, moon...",[james_cameron],"[sam_worthington, zoe_saldana, sigourney_weaver]","[century, paraplegic, marine, dispatched, moon..."
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[captain, barbossa, long, believed, dead, come...",[gore_verbinski],"[johnny_depp, orlando_bloom, keira_knightley]","[captain, barbossa, long, believed, dead, come..."
2,206647,Spectre,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[cryptic, message, bond, past, sends, trail, u...",[sam_mendes],"[daniel_craig, christoph_waltz, léa_seydoux]","[cryptic, message, bond, past, sends, trail, u..."
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[following, death, district, attorney, harvey,...",[christopher_nolan],"[christian_bale, michael_caine, gary_oldman]","[following, death, district, attorney, harvey,..."
4,49529,John Carter,"[action, adventure, science_fiction]","[based on novel, mars, medallion, space travel...","[john, carter, warweary, former, military, cap...",[andrew_stanton],"[taylor_kitsch, lynn_collins, samantha_morton]","[john, carter, warweary, former, military, cap..."

In [37]:
final_features = ['id', 'title', 'tags']
df = df[final_features]
df.head()

,id,title,tags
0,19995,Avatar,"[century, paraplegic, marine, dispatched, moon..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa, long, believed, dead, come..."
2,206647,Spectre,"[cryptic, message, bond, past, sends, trail, u..."
3,49026,The Dark Knight Rises,"[following, death, district, attorney, harvey,..."
4,49529,John Carter,"[john, carter, warweary, former, military, cap..."

In [38]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4806 non-null   int64
 1   title   4806 non-null   object
 2   tags    4806 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.2+ KB

In [40]:
df.head()

,id,title,tags
0,19995,Avatar,century paraplegic marine dispatched moon pand...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believed dead come back ...
2,206647,Spectre,cryptic message bond past sends trail uncover ...
3,49026,The Dark Knight Rises,following death district attorney harvey dent ...
4,49529,John Carter,john carter warweary former military captain i...

In [41]:
df['tags'] = df['tags'].apply(process_str)

In [42]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [43]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [44]:
def stem(lis):
    res = []
    for l in lis.split():
        res.append(ps.stem(l))
    return " ".join(res)

In [45]:
df['tags'] = df['tags'].apply(stem)

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [48]:
vectors = cv.fit_transform(df['tags']).toarray()

In [49]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity[1]

array([0.072393  , 1.        , 0.04496938, ..., 0.05956087, 0.        ,
       0.        ])

In [51]:
def recomend(movie):
    movie_idx = df[df['title'] == movie].index[0]
    distences = sorted(list(enumerate(similarity[movie_idx])), reverse=True, key=lambda x: x[1])[1:6]
    for i in distences:
        print(df.iloc[i[0]].title)

In [52]:
recomend('John Carter')

Predators
Mission to Mars
The 5th Wave
Avatar
Meet Dave

In [53]:
df.to_pickle('../models/movies.pkl')

In [60]:
movies.loc[0].to_json()

'{"budget":237000000,"genres":"[{\\"id\\": 28, \\"name\\": \\"Action\\"}, {\\"id\\": 12, \\"name\\": \\"Adventure\\"}, {\\"id\\": 14, \\"name\\": \\"Fantasy\\"}, {\\"id\\": 878, \\"name\\": \\"Science Fiction\\"}]","homepage":"http:\\/\\/www.avatarmovie.com\\/","id":19995,"keywords":"[{\\"id\\": 1463, \\"name\\": \\"culture clash\\"}, {\\"id\\": 2964, \\"name\\": \\"future\\"}, {\\"id\\": 3386, \\"name\\": \\"space war\\"}, {\\"id\\": 3388, \\"name\\": \\"space colony\\"}, {\\"id\\": 3679, \\"name\\": \\"society\\"}, {\\"id\\": 3801, \\"name\\": \\"space travel\\"}, {\\"id\\": 9685, \\"name\\": \\"futuristic\\"}, {\\"id\\": 9840, \\"name\\": \\"romance\\"}, {\\"id\\": 9882, \\"name\\": \\"space\\"}, {\\"id\\": 9951, \\"name\\": \\"alien\\"}, {\\"id\\": 10148, \\"name\\": \\"tribe\\"}, {\\"id\\": 10158, \\"name\\": \\"alien planet\\"}, {\\"id\\": 10987, \\"name\\": \\"cgi\\"}, {\\"id\\": 11399, \\"name\\": \\"marine\\"}, {\\"id\\": 13065, \\"name\\": \\"soldier\\"}, {\\"id\\": 14643, \\"name\\": \\"battle\\"}, {\\"id\\": 14720, \\"name\\": \\"love affair\\"}, {\\"id\\": 165431, \\"name\\": \\"anti war\\"}, {\\"id\\": 193554, \\"name\\": \\"power relations\\"}, {\\"id\\": 206690, \\"name\\": \\"mind and soul\\"}, {\\"id\\": 209714, \\"name\\": \\"3d\\"}]","original_language":"en","original_title":"Avatar","overview":"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.","popularity":150.437577,"production_companies":"[{\\"name\\": \\"Ingenious Film Partners\\", \\"id\\": 289}, {\\"name\\": \\"Twentieth Century Fox Film Corporation\\", \\"id\\": 306}, {\\"name\\": \\"Dune Entertainment\\", \\"id\\": 444}, {\\"name\\": \\"Lightstorm Entertainment\\", \\"id\\": 574}]","production_countries":"[{\\"iso_3166_1\\": \\"US\\", \\"name\\": \\"United States of America\\"}, {\\"iso_3166_1\\": \\"GB\\", \\"name\\": \\"United Kingdom\\"}]","release_date":"2009-12-10","revenue":2787965087,"runtime":162.0,"spoken_languages":"[{\\"iso_639_1\\": \\"en\\", \\"name\\": \\"English\\"}, {\\"iso_639_1\\": \\"es\\", \\"name\\": \\"Espa\\\\u00f1ol\\"}]","status":"Released","tagline":"Enter the World of Pandora.","title":"Avatar","vote_average":7.2,"vote_count":11800}'